@model IEnumerable<TKWEB.Models.QUESTIONNAIRES>

    <header>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <LINK href="../css/TKWEB.css" type="text/css" rel="stylesheet">
    </header>

@{
    ViewData["Title"] = "完成";
}

<body>
    <div style="width:auto;height:200px;text-align:left;line-height:100px; font-size: 36px;">
        @*<div class="finishdiv">*@
        <p>每日防疫問卷</p>
        <p style="font-size: 18px;">我們已經收到您回覆的表單。</p>
        <a style="font-size: 18px;" asp-area="" asp-controller="QUESTIONNAIRES" asp-action="Create">提交其他回應</a>
    </div>
</body>





