@model TKWEB.Models.Hridworkhrs

@{
    ViewData["Title"] = "Create";
}
<head>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script>
    $(document).ready(function () {
        $('#selector').change(function () {
            alert($('#selector').val());
        });
    })
    </script>
</head>

<h1>新建</h1>

<h4>Hridworkhrs</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Wrokdates" class="control-label"></label>
                <input asp-for="Wrokdates" class="form-control" />
                <span asp-validation-for="Wrokdates" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Loginid" class="control-label"></label>
                <input asp-for="Loginid" class="form-control" value="@(ViewBag.Name ?? String.Empty)"  />
                <span asp-validation-for="Loginid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Workid" class="control-label"></label>
                <div></div>
                @Html.DropDownList("ObjList", (IEnumerable<SelectListItem>)ViewBag.Hrworks, new { onchange = "document.getElementById('selector').value = this.value;" })
                <div><br></div>
                <input asp-for="Workid" class="form-control" id="selector" />
                <span asp-validation-for="Workid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hrs" class="control-label"></label>
                <input asp-for="Hrs" class="form-control" />
                <span asp-validation-for="Hrs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">回上頁</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
