@model TKWEB.Models.Hridworkhrs

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>工時記錄</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Wrokdates" class="control-label"></label>
                <input asp-for="Wrokdates" class="form-control" />
                <span asp-validation-for="Wrokdates" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Loginid" class="control-label"></label>
                <input asp-for="Loginid" class="form-control" />
                <span asp-validation-for="Loginid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Workid" class="control-label"></label>
                <input asp-for="Workid" class="form-control" />
                <span asp-validation-for="Workid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hrs" class="control-label"></label>
                <input asp-for="Hrs" class="form-control" />
                <span asp-validation-for="Hrs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">回上頁</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
